.nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links_list {
  padding: 20px 0;
  display: flex;
  width: 15rem;
  justify-content: space-between;
}

.links_list a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart div {
  margin-right: 30px;
}

.cart a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.cartIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartIcon p {
  font-size: 17px;
  padding: 5px;
  border-radius: 50%;
  background-color: black;
  color: white;
}
