.nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links_list {
  padding: 20px 0;
  display: flex;
  width: 15rem;
  justify-content: space-between;
}

.links_list a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.cartIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartIcon p {
  font-size: 17px;
  padding: 5px;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.none {
  display: none;
}
.overlay_background {
  position: fixed; /* Sit on top of the page content */
  /* display: none; */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay {
  /* border: 2px solid red; */
  width: 21.3125rem;
  /* width: 1440px; */
  padding: 32px 16px;

  z-index: 3;
  background-color: white;
  position: absolute;
  right: 0;
  top: 5rem;
}

.product_section {
  margin-top: 30px;
  display: flex;
}

.product_section h3 {
  margin: 0;
  margin-bottom: 10px;

  font-size: 17px;
  font-weight: 500;
}

.product_left_section {
  width: 70px;
  margin-right: 100px;
  /* border: 2px solid red; */
}

.product_right_section {
  display: flex;
  /* border: 2px solid forestgreen; */
}
.product_right_section img {
  width: 7.5rem;
  height: 11.8rem;
  object-fit: contain;
}
.item_amount p {
  font-size: 1.2rem;
  text-align: center;
}
.item_amount button {
  width: 1.8125rem;
  height: 1.8125rem;
  font-size: 1.3rem;
  background-color: transparent;
  border: 1px solid black;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}
.add {
  margin-bottom: 2.3rem;
}
.subtract {
  margin-top: 2.3rem;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.view_button button {
  width: 8.75rem;
  height: 2.6875rem;
  background-color: white;
  border: 1px solid black;
}

.view_button a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.checkout_button {
  width: 8.75rem;
  height: 2.6875rem;
  background-color: #5ece7b;
  border: none;
  color: white;
}

.total {
  display: flex;
  justify-content: space-between;
}

.attribute_values {
  display: flex;
  gap: 5px;
}

.attribute_text {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.selectedColor {
  border: 2px solid #5ece7b;
}

.selectedAttribute {
  background-color: black;
  color: white;
}
