.product_div {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.product_div a {
  text-decoration: none;
  color: black;
}
.product {
  width: 24.12rem;
  height: 27.75rem;
}

.product img {
  width: 22rem;
  height: 21.125rem;
  object-fit: cover;
}

.overlay {
  border: 2px solid red;
  width: 20.3125rem;
  padding: 32px 16px;
}

.product_section {
  display: flex;
}

.product_right_section {
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
}
.product_right_section img {
  width: 10rem;
}
.item_amount p {
  font-size: 1.2rem;
  text-align: center;
}
.item_amount button {
  width: 1.8125rem;
  height: 1.8125rem;
  font-size: 1.3rem;
  background-color: transparent;
  border: 1px solid black;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}
.add {
  margin-bottom: 5rem;
}
.subtract {
  margin-top: 5rem;
}
