.product_div {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.product_div a {
  text-decoration: none;
  color: black;
}
.product {
  width: 22.12rem;
  height: 27.75rem;
  padding: 1rem;
  position: relative;
}

.product img {
  width: 22rem;
  height: 21.125rem;
  object-fit: cover;
  text-align: center;
  /* border: 2px solid cyan; */
}

.border {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.none {
  /* display: none; */
}

.visible {
  display: block;
  background-color: #5ece7b;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  left: 19rem;
  bottom: 6rem;
}
