.product_div {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.product_div a {
  text-decoration: none;
  color: black;
}
.product {
  width: 24.12rem;
  height: 27.75rem;
}

.product img {
  width: 22rem;
  height: 21.125rem;
  object-fit: cover;
}

/* .greenBorder {
  border: 5px solid green;
} */
